<p-toast></p-toast>
<div class="sales-boxes">
    <div class="recent-sales box">

        <div class="admin-page" *ngIf="song">
            <p-card [header]="'View Song'" subheader="Here you can see your song details">
                <div class="grid mb-5">
                    <div class="col-12">
                        <p-toolbar>
                            <div class="p-toolbar-group-left"></div>
                            <div class="p-toolbar-group-right">
                                <p-button styleClass="p-button-secondary" label="Back" icon="pi pi-arrow-circle-left"
                                    (click)="onCancle()">
                                </p-button>
                            </div>
                        </p-toolbar>
                    </div>
                </div>

                <p-fieldset legend="Song Details" styleClass="mb-4" [toggleable]="true">
                    <div class="grid">
                        <div class="row">
                            <div class="col-xs-6 col-md-3">
                                <h5 class="fw-bold">Song Id</h5>
                                <p>{{ song?.id }}</p>
                            </div>

                            <div class="col-xs-6 col-md-3">
                                <h5 class="fw-bold">Song Title</h5>
                                <p>{{ song?.title }}</p>
                            </div>

                            <div class="col-xs-6 col-md-3">
                                <h5 class="fw-bold">Song isFeatured</h5>
                                <p>{{ song?.isFeatured }}</p>
                            </div>

                            <div class="col-xs-6 col-md-3">
                                <h5 class="fw-bold">Song Uploaded Date</h5>
                                <p>{{ song?.uploadedDate | date:'short' }}</p>
                            </div>
                        </div>
                    </div>
                </p-fieldset>

                <p-fieldset legend="Artist Details" styleClass="mb-4" [toggleable]="true">
                    <div class="grid">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="fw-bold">Artist Name</h5>
                                <p>{{ song.artist?.name }}</p>
                            </div>

                            <div class="col-md-6">
                                <h5 class="fw-bold">Artist Gender</h5>
                                <p>{{ song.artist?.gender }}</p>
                            </div>

                        </div>
                    </div>
                </p-fieldset>

                <p-fieldset legend="Album Details" styleClass="mb-4" [toggleable]="true">
                    <div class="grid">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="fw-bold">Album Name</h5>
                                <p>{{ song.album?.name }}</p>
                            </div>

                        </div>
                    </div>
                </p-fieldset>

            </p-card>
        </div>

    </div>
</div>