<p-toast></p-toast>
<div class="sales-boxes">
    <div class="recent-sales box">

        <div class="admin-page">
            <p-card [header]="editmode ? 'Edit Album':'Add Album'" subheader="You can add albums here">
                <div class="grid">
                    <div class="col-md-12">
                        <p-toolbar>
                            <div class="p-toolbar-group-left"></div>
                            <div class="p-toolbar-group-right">
                                <p-button styleClass="p-button-primary m-2" [label]="editmode ? 'Update':'Create'"
                                    icon="pi pi-plus" (click)="onSubmit()">
                                </p-button>
                                <p-button styleClass="p-button-secondary" label="Cancel" icon="pi pi-arrow-circle-left"
                                    (click)="onCancle()">
                                </p-button>
                            </div>
                        </p-toolbar>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-12">
                        <form [formGroup]="artistForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="name" class="fw-bold">Name</label>
                                    <div class="input-group mb-3">
                                        <input formControlName='name' id="name" type="text" pInputText>
                                    </div>
                                    <small *ngIf="artistFormError['name'].invalid && isSubmitted" class="p-error">Name
                                        is required
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="gender" class="fw-bold">Gender</label>
                                    <div class="input-group mb-3">
                                        <input formControlName='gender' id="gender" type="text" pInputText>
                                    </div>
                                    <small *ngIf="artistFormError['gender'].invalid && isSubmitted"
                                        class="p-error">Gender
                                        is required
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="name" class="fw-bold">Upload Image</label>
                                    <div class="input-group mb-3">
                                        <input type="file" class="p-inputtext" accept="image/*"
                                            (change)="onImageUpload($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-2 p-pl-0">
                                    <img style="width: 100%" [src]="imageDisplay" alt="" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </p-card>
        </div>

    </div>
</div>