<!-- <p-toast></p-toast> -->
<div class="sales-boxes">
    <div class="recent-sales box">

        <div class="admin-page">
            <p-card header="Albums" subheader="List of all Albums">
                <div class="grid">
                    <div class="col-12">
                        <p-toolbar>
                            <div class="p-toolbar-group-left">
                                <p-button styleClass="p-button-success" label="New" icon="pi pi-plus" routerLink='form'>
                                </p-button>
                            </div>
                        </p-toolbar>
                    </div>
                </div>

                <div class="grid">
                    <div class="col-12">
                        <p-table [value]="albums" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <!-- <th pSortableColumn="artist">Artist <p-sortIcon field="artist"></p-sortIcon>
                                    </th> -->
                                    <!-- <th pSortableColumn="song">Song <p-sortIcon field="song"></p-sortIcon>
                                    </th> -->
                                    <th pSortableColumn="image">Image <p-sortIcon field="image"></p-sortIcon>
                                    </th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-album>
                                <tr>
                                    <td>{{album.name}}</td>
                                    <!-- <td>{{album.artist}}</td> -->
                                    <!-- <td>{{album.song}}</td> -->
                                    <td><img [src]="album.image" alt=""></td>
                                    <td>
                                        <!-- <p-button (click)="deleteCategory(category.id)"
                                            styleClass="p-button-danger mr-2" icon="pi pi-trash"></p-button> -->
                                        <p-button (click)="viewAlbum(album.id)" styleClass="p-button-success"
                                            icon="pi pi-eye"></p-button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-card>
        </div>
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
        </p-confirmDialog>

    </div>
</div>