<div class="logo-details">
    <i class='bx bx-music'></i>
    <span class="logo_name">SK-MUSIC</span>
</div>
<ul class="nav-links">
    <li>
        <a routerLink="/" class="active">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">Dashboard</span>
        </a>
    </li>
    <li>
        <a routerLink="/artists">
            <i class='bx bx-group'></i>
            <span class="links_name">Artists</span>
        </a>
    </li>
    <li>
        <a routerLink="/albums">
            <i class='bx bx-album'></i>
            <span class="links_name">Albums</span>
        </a>
    </li>
    <li>
        <a routerLink="/songs">
            <i class='bx bx-music'></i>
            <span class="links_name">Songs</span>
        </a>
    </li>
</ul>