<div class="overview-boxes">
    <div class="box">
        <div class="right-side">
            <div class="box-topic">Songs</div>
            <div class="number">{{ this.songsCount }}</div>
            <div class="indicator">
            </div>
        </div>
        <i class='bx bx-music cart'></i>
    </div>
    <div class="box">
        <div class="right-side">
            <div class="box-topic">Artists</div>
            <div class="number">{{ this.artistsCount }}</div>
            <div class="indicator">
            </div>
        </div>
        <i class='bx bx-group cart two'></i>
    </div>
    <div class="box">
        <div class="right-side">
            <div class="box-topic">Albums</div>
            <div class="number">{{ this.albumsCount }}</div>
            <div class="indicator">
            </div>
        </div>
        <i class="bx bx-album cart three"></i>
    </div>
    <!-- <div class="box">
        <div class="right-side">
            <div class="box-topic">Total Sales</div>
            <div class="number">55</div>
            <div class="indicator">
            </div>
        </div>
        <i class="pi pi-money-bill cart four"></i>
    </div> -->
</div>